<%= link_to 'Back', cohorts_path, class: "btn btn-primary" %>
<h1><%= @cohort.name %></h1>

<div class="btn-group btn-group-lg">
	<%= link_to 'Past Groups', cohort_groups_path(@cohort), class: "btn btn-info", role: "button" %>
	<%= link_to "Add a Student", new_cohort_student_path(@cohort.id), class: "btn btn-info", role: "button"%>
	<%=link_to "Create New Group", new_cohort_group_path(@cohort.id), class: "btn btn-info", role: "button"%>

</div>
<br><br>

<% @cohort.students.each do |student| %>
<div class="row" style= "display: inline-block">
  <div class="col-sm-6 col-md-4" style= "width: 178px">
      <div class="thumbnail damn-sizes" style= "display: inline-block; ">
      <%= link_to image_tag("#{student.photo.photo_url}", data: { student_id: student.id }), student_path(student), alt: "#{student.name}"%>
      <div class="caption">
        <h3><%= student.name %></h3>
        <p><%= link_to "Edit", edit_student_path(student.id), class: "btn btn-primary", role: "button" %>
	<%= button_to "Delete", student, :method => :delete, class: "btn btn-button", role: "button" %></p>
      </div>
    </div>
  </div>
</div>

<% end %>


