<h1>Edit Student</h1>

<%= form_for(@student, url: cohort_student_path(@student.cohort_id, @student.id)) do |f| %>

	<p>
		<div id="login_form"><%= f.text_field :name, :value => @student.name %></div>
	</p>

	<p>
		<% @cohorts.each do |cohort| %>
		<%= f.label :cohort_id, cohort.name, :value => cohort.id %>
    <%= f.radio_button :cohort_id, cohort.id %><br>
		<% end %>
	</p>

	<p>
		<%= f.submit "Edit", class: "btn btn-info" %>
	</p>
<% end %>