<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Grouples</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>

</head>
<body>

	<% if signed_in? %>
	  <%= link_to "Sign out", session_path, method: :delete, class: "btn btn-primary" %>
	<% else %>
	  <%= link_to "Sign in", new_session_path, class: "btn btn-primary" %>
	  <%= link_to "Sign up", new_user_path, class: "btn btn-primary" %>
	<% end %>

	<%= yield %>


</body>
</html>
